<main class="pt-6 font-poppins bg-warm-bg">
  <app-about-hero
    [partners]="partners"
    [carouselImages]="carouselImages"
    [currentIndex]="currentIndex"
    (slideChanged)="onSlideChange($event)"
    (timerReset)="resetTimer()"
  >
  </app-about-hero>

  <app-about-ecosystem></app-about-ecosystem>
  <app-about-value></app-about-value>
  <app-about-network [partners]="partners"></app-about-network>

  <app-framework-section></app-framework-section>
  <app-team-section></app-team-section>
  <app-roadmap-section></app-roadmap-section>

  <section
    appScrollReveal
    class="px-5 sm:px-8 lg:px-10 py-20 sm:py-24 lg:py-28 font-poppins"
  >
    <div class="max-w-4xl mx-auto text-center">
      <h2
        class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-medium mb-10 sm:mb-12 lg:mb-14 tracking-tight reveal-text leading-tight"
      >
        Let's create the next.
      </h2>
      <div
        class="flex flex-col sm:flex-row gap-5 sm:gap-6 justify-center items-center reveal-text delay-2"
      >
        <a
          href="#"
          class="bg-primary text-white px-8 py-3 rounded-full font-medium hover:bg-opacity-90 transition-all"
          >Start a Collaboration</a
        >
        <a
          href="#"
          class="text-primary px-8 py-3 rounded-full font-medium border border-black/10 hover:bg-black/5 transition-all"
          >Our Programs</a
        >
      </div>
    </div>
  </section>
</main>
