@use "tailwindcss";

@theme {
  --color-primary: #1a1a1a;
  --color-soft-grey: #f2f2f2;
  --color-warm-bg: #f9f8f6;
  --color-accent: #e27d60;
  --color-text-muted: #737373;

  --radius-4xl: 2.5rem;
  --radius-5xl: 3.5rem;
}

@layer base {
  body {
    @apply bg-warm-bg text-primary antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}